defmodule <%= @app_module %>Web.TelemetryTest do
  @moduledoc false

  use <%= @app_module %>Web.ConnCase, async: true

  alias <%= @app_module %>Web.Telemetry
  
  # Telemetry
  describe "metrics/0" do
    test "return Telemetry metrics" do
      result = Telemetry.metrics()

      # Check return
      assert is_list(result)
    end
  end
end
