{
  "coverage_options": {
    "output_dir": "<%= @output_dir %>",
    "template_path": "<%= @template_path %>",
    "minimum_coverage": <%= @minimum_coverage %>
  },
  "terminal_options": {
    "file_column_width": 128
  },
  "skip_files": [
<%= if @rest do %>
    "<%= @app_name %>_web/open_api",
<% end %>
<%= if @html do %>
    "<%= @app_name %>_web/components",
<% end %>
    "deps",
    "test"
  ]
}
