@moduledoc """
Development Operations (DevOps) controller.
"""
use <%= @web_module %>, :controller
<%= if @open_api do %>
use OpenApiSpex.ControllerSpecs
<% end %>

@env Mix.env()
@service Mix.Project.config()[:app]
@version Mix.Project.config()[:version]
<%= if @open_api do %>

tags ["Development Operations"]

operation :health,
  summary: "Healthcheck endpoint.",
  description: """
  In production enviroment works just as a server healthcheck endpoint. In develop enviroment returns application information with optional extra output.
  """,
  parameters: [
    verbose: [
      in: :query,
      description: """
      If set to ___true___, the endpoint will provide full information (only for the development environments).\n
      <small>**Note:** Request verbose increment system calls and database queries, so it takes a little longer to respond (not very suitable for health cheks).</small>\n
      """,
      type: :boolean,
      example: false
    ]
  ],
  responses: [
    Responses.build(
      200,
      "Healthcheck response on development enviroment.",
      Schemas.Healthcheck.schema()
    )
  ]
<% end %>

@doc """
Always responds with a 200 success code.

This controller works differently depending on the current development
environment. In non development environments works just as a server
healthcheck endpoint. In development environments returns application
information with optional extra output (`?verbose=true`).

## Development response body
    %{
      app: %{
        env: "dev",
        service: "<%= @app_name %>",
        version: "0.0.0",
        time: nil,
        elixir: nil,
        erlang: nil
      },
      databases: [
        %{
          repo: "Elixir.<%= @app_module %>.Repo",
          time: nil,
          version: nil
        }
      ]
    }

## Production response body
    %{health: "😊"}
"""
@spec health(
        conn :: Plug.Conn.t(),
        params :: %{optional(binary) => any}
      ) :: Plug.Conn.t()
def health(conn, params) do
  info =
    case Application.get_env(:<%= @app_name %>, :dev_routes, false) do
      true -> info(params)
      _ -> %{health: "😊"}
    end

  conn
  |> put_status(200)
  |> json(info)
end

# --- Private ----------------------------------------------------------------

defp info(params) do
  verbose =
    case params["verbose"] do
      nil -> false
      value -> String.downcase(value) == "true" || value == "1"
    end

  {time, erlang, elixir} = server(verbose)

  %{
    app: %{
      service: @service,
      env: @env,
      version: @version,
      elixir: elixir,
      erlang: erlang,
      time: time
    },
    databases: databases(@service, verbose)
  }
end

defp server(verbose) do
  case verbose do
    false ->
      {nil, nil, nil}

    _ ->
      [erlang, elixir] =
        try do
          {versions, 0} = System.cmd("elixir", ["-v"])

          versions
          |> String.split("\n")
          |> Enum.reject(fn e -> e == "" end)
        rescue
          error -> ["", inspect(error)]
        end

      {NaiveDateTime.utc_now(), erlang, elixir}
  end
end

defp databases(service, verbose) do
  service
  |> Application.get_env(:ecto_repos, [])
  |> Enum.map(fn repo ->
    [version, time] =
      case verbose do
        false ->
          [nil, nil]

        _ ->
          try do
            {:ok, %{rows: [[version]]}} = repo.query("SELECT version();")
            {:ok, %{rows: [[time]]}} = repo.query("SELECT now();")
            [version, time]
          rescue
            error -> [inspect(error), ""]
          end
      end

    %{repo: repo, version: version, time: time}
  end)
end
