{
  "Servers": {
    "1": {
      "Group": "Servers",
      "Name": "<%= @app_name %>",
      "Host": "localhost",
      "Port": 5432,
      "MaintenanceDB": "postgres",
      "Username": "postgres",
      "PassFile": "/var/lib/pgadmin/pgpass",
      "SSLMode": "prefer"
    }
  }
}
