defp before_closing_head_tag(:epub), do: ""
defp before_closing_head_tag(:html), do: ""

defp before_closing_body_tag(:epub), do: ""

defp before_closing_body_tag(:html) do
  """
<%= @scripts %>
  """
end
