@moduledoc false

use <%= @web_module %>.ConnCase, async: true

# GraphQL endpoint
describe "[GraphQL] /graphiql" do
  test "return 200 resolving the version query", %{conn: conn} do
    response =
      conn
      |> post(~p"/graphiql", %{"query" => "{ version }"})
      |> json_response(200)

    # Check response
    assert %{"data" => %{"version" => version}} = response
    assert version == "#{Application.spec(:<%= @app_name %>, :vsn)}"
  end

  test "return 200 with errors for an unknown field", %{conn: conn} do
    response =
      conn
      |> post(~p"/graphiql", %{"query" => "{ unknown }"})
      |> json_response(200)

    # Check response
    assert %{"errors" => [%{"message" => message}]} = response
    assert message =~ "unknown"
  end
end
