<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="ExDoc v0.34.2">
    <meta name="project" content="Lorem Ipsum v0.0.0">

      <meta name="author" content="JosePamplona">


    <title>Tests reports — Lorem Ipsum v0.0.0</title>
    <link rel="stylesheet" href="dist/html-elixir-F2VRIOKR.css" />


    <script src="dist/handlebars.runtime-NWIB6V2M.js"></script>
    <script src="dist/handlebars.templates-K7URE6B4.js"></script>
    <script src="dist/sidebar_items-9E07394A.js"></script>
    <script src="docs_config.js"></script>
    <script async src="dist/html-YIPIRHGU.js"></script>
    
    <%= ExCoveralls.Html.View.partial "_style.html.eex" %>
    <%= ExCoveralls.Html.View.partial "_script.html.eex" %>

  </head>
  <body data-type="extras" class="page-extra">
    <script>

      try {
        var settings = JSON.parse(localStorage.getItem('ex_doc:settings') || '{}');

        if (settings.theme === 'dark' ||
           ((settings.theme === 'system' || settings.theme == null) &&
             window.matchMedia('(prefers-color-scheme: dark)').matches)
           ) {
          document.body.classList.add('dark')
        }
      } catch (error) { }
    </script>

<div class="body-wrapper">

<button id="sidebar-menu" class="sidebar-button sidebar-toggle" aria-label="toggle sidebar" aria-controls="sidebar">
  <i class="ri-menu-line ri-lg" title="Collapse/expand sidebar"></i>
</button>

<nav id="sidebar" class="sidebar">

  <div class="sidebar-header">
    <div class="sidebar-projectInfo">

        <a href="https://www.lorem-ipsum.com" class="sidebar-projectImage">
          <img src="assets/logo.png" alt="Lorem Ipsum" />
        </a>

      <div>
        <a href="https://www.lorem-ipsum.com" class="sidebar-projectName" translate="no">
Lorem Ipsum
        </a>
        <div class="sidebar-projectVersion" translate="no">
          v0.0.0
        </div>
      </div>
    </div>
    <ul id="sidebar-listNav" class="sidebar-listNav" role="tablist">
      <li>
        <button id="extras-list-tab-button" role="tab" data-type="extras" aria-controls="extras-tab-panel" aria-selected="true" tabindex="0">
Pages
        </button>
      </li>

        <li>
          <button id="modules-list-tab-button" role="tab" data-type="modules" aria-controls="modules-tab-panel" aria-selected="false" tabindex="-1">
            Modules
          </button>
        </li>


        <li>
          <button id="tasks-list-tab-button" role="tab" data-type="tasks" aria-controls="tasks-tab-panel" aria-selected="false" tabindex="-1">
            <span translate="no">Mix</span> Tasks
          </button>
        </li>

    </ul>
  </div>

  <div id="extras-tab-panel" class="sidebar-tabpanel" role="tabpanel" aria-labelledby="extras-list-tab-button">
    <ul id="extras-full-list" class="full-list"></ul>
  </div>

    <div id="modules-tab-panel" class="sidebar-tabpanel" role="tabpanel" aria-labelledby="modules-list-tab-button" hidden>
      <ul id="modules-full-list" class="full-list"></ul>
    </div>


    <div id="tasks-tab-panel" class="sidebar-tabpanel" role="tabpanel" aria-labelledby="tasks-list-tab-button" hidden>
      <ul id="tasks-full-list" class="full-list"></ul>
    </div>

</nav>

<main class="content">
  <output role="status" id="toast"></output>
  <div id='coverage'>
    <h1 id='overview'>Coverage</h1>
    <div id="menu">
      <li>
        <a id='back' href='./testing.html#coverage'>
          ⮌ Back to documentation
        </a>
      </li>
      <li><a href='#'>overview</a></li>
      <%= for file <- @cov.files do %>
        <%= if not @filter_full_covered or file.coverage < 100 do %>
          <li>
            <span class='cov <%= ExCoveralls.Html.View.coverage_class(file.coverage, file.sloc) %>'><%= file.coverage || 0 %></span>
            <a href='#<%= file.filename %>'>
              <% parts = String.split(file.filename, "/") %><% [b | s] = parts |> Enum.reverse |> Enum.reverse_slice(1, Enum.count(parts)) %>
              <%= if Enum.count(s) do %>
                <span class='dirname'><%= Enum.join(s, "/") <> "/" %></span>
              <% end %>
              <span class='basename'><%= b %></span>
            </a>
          </li>
        <% end %>
      <% end %>
    </div>

    <div id='stats' class='<%= ExCoveralls.Html.View.coverage_class(@cov.coverage) %>'>
      <div class='percentage'><%= @cov.coverage || 0 %></div>
      <div class='sloc'><%= @cov.sloc %></div>
      <div class='hits'><%= @cov.hits %></div>
      <div class='misses'><%= @cov.misses %></div>
    </div>
    <div id='files'>
      <%= for file <- @cov.files do %>
        <%= if not @filter_full_covered or file.coverage < 100 do %>
          <div class='file'>
            <h2 id='<%= file.filename %>'><%= file.filename %></h2>
            <div id='stats' class='<%= ExCoveralls.Html.View.coverage_class(file.coverage, file.sloc) %>'>
              <div class='percentage'><%= file.coverage || 0 %></div>
              <div class='sloc'><%= file.sloc %></div>
              <div class='hits'><%= file.hits %></div>
              <div class='misses'><%= file.misses %></div>
            </div>
            <table id='source'>
              <thead>
                <tr>
                  <th>Line</th>
                  <th>Hits</th>
                  <th>Source</th>
                </tr>
              <tbody>
                <%= for {line, number} <- Enum.with_index(file.source) do %>
                  <%= cond do %>
                    <% line.coverage > 0 && line.coverage != nil -> %>
                      <tr class='hit'>
                        <td class='line'><%= number %></td>
                        <td class='hits'><%= line.coverage %></td>
                        <td class='source'><%= ExCoveralls.Html.View.safe line.source %></td>
                      </tr>
                    <% 0 == line.coverage -> %>
                      <tr class='miss'>
                        <td class='line'><%= number %></td>
                        <td class='hits'>0</td>
                        <td class='source'><%= ExCoveralls.Html.View.safe line.source %></td>
                      </tr>
                    <% true -> %>
                      <tr>
                        <td class='line'><%= number %></td>
                        <td class='hits'></td>
                        <td class='source'><%= ExCoveralls.Html.View.safe(line.source || ~c' ')  %></td>
                      </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</main>
</div>
<script src="./assets/themedImage.js"></script>
<script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>
<script src="./assets/auth_config.js"></script>
<script src="./assets/token.js"></script>

  </body>
</html>
