defmodule <%= @app_module %>.AccountsFixtures do
  @moduledoc """
    This module defines test helpers for creating
    entities via the `<%= @app_module %>.Accounts` context.
    """

  alias <%= @app_module %>.Accounts.User

  @doc """
  Generate a unique user email.
  """
  def unique_user_email, do:
    "email_#{System.unique_integer([:positive])}@mail.com"

  @doc """
  Generate a unique user token_sub.
  """
  def unique_user_token_sub, do:
    "testAuth|#{System.unique_integer([:positive])}"

  @doc """
  Generate a user.
  """
  def user_fixture(attrs \\ %{}) do
    attrs =
      Enum.into(attrs, %{
        token_sub: unique_user_token_sub(),
        status: :active,
        name: "John Doe",
        email: unique_user_email(),
        email_verified: true,
        phone_number: "555-1234",
        picture: "http://some.url"
      })

    user = %User{} |> User.create_changeset(attrs) |> <%= @app_module %>.Repo.insert!()
    %{user | status: String.to_existing_atom(user.status)}
  end
end
