defmodule <%= @app_module %>.EctoURI do
  @moduledoc """
  Custom type for working with URIs as a struct.
  """

  use Ecto.Type
  
  @type t :: URI.t

  # The type in the database is string
  @spec type() :: :string
  def type, do: :string

  # Provide custom casting rules.
  # Cast strings into the URI struct to be used at runtime
  @spec cast(uri :: binary | URI.t) :: {:ok, URI.t} | :error
  def cast(uri) when is_binary(uri), do: {:ok, URI.parse(uri)}
  # Accept casting of URI structs as well
  def cast(%URI{} = uri), do: {:ok, uri}
  # Everything else is a failure though
  def cast(_), do: :error

  # When loading data from the database, we just put the data back into a URI
  # struct to be stored in the loaded schema struct.
  @spec load(uri :: binary | URI.t) :: {:ok, URI.t} | :error
  def load(data), do: cast(data)

  # When dumping data to the database, we can expect a URI struct, but any value
  # could be inserted into the schema struct at runtime, so we need to guard
  # against them.
  @spec dump(uri :: URI.t) :: {:ok, String.t} | :error
  def dump(%URI{} = uri), do: {:ok, URI.to_string(uri)}
  def dump(_), do: :error

  # Implementation to tell Jason how to parse the URI type
  defimpl Jason.Encoder, for: URI do
    def encode(%URI{} = uri, opts) do
      Jason.Encode.string(URI.to_string(uri), opts)
    end
  end
end
